@font-face {
  font-family: "Junction";
  src: url("Junction.otf");
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, p {
	font-family: 'Junction', 'Helvetica Neue';
	color: black;
}

body {
	margin-top: 3em;
	/*background-color: #1b1b1b;*/
	background-color: white;
}

h1 {
	font-size: 100px
}

a:link, a:visited {
	padding: 2px 2px 0px 2px;
}

a:hover {
	/*color: #a0a0a0;*/
}

.social {
	color: black;
}

.social a:visited, a:link {
	color: black;
}

.social a:hover {
	color: #a0a0a0;
}

.big {
	font-size: 34px;
}

.branding {
    max-height: 400px;
    max-width: 400px;
    margin-bottom: 27px;	
}

.footer {
	margin-top: 20px;
}