@font-face {
  font-family: "Junction";
  src: url("Junction.otf");
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, p {
	font-family: 'Junction', 'Helvetica Neue';
	color: white;
}

body {
	margin-top: 3em;
	background-color: black;
}

h1 {
	font-size: 100px
}

.big {
	font-size: 34px;
}

.branding {
    height: 400px;
    width: 400px;
    margin-bottom: 30px;	
}

.footer {
	margin-top: 20px;
}